<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.elitedelivery">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.EliteDelivery"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".dashboard.EarningsActivity"
            android:exported="false" />
        <activity
            android:name=".e_sampletracking.MapsActivity"
            android:exported="false" />
        <activity
            android:name=".profile.IncentivesDetails"
            android:exported="false" />
        <activity
            android:name=".orders.view.SummaryActivity"
            android:exported="false" />
        <activity
            android:name=".orders.view.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".map.MainActivity2"
            android:exported="false" />
        <activity
            android:name=".dashboard.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".utils.CommonClasses.SuccessPage"
            android:exported="false" />
        <activity
            android:name=".profile.WithDrawActivity"
            android:exported="false" />
        <activity
            android:name=".profile.BankDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".profile.MenuActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />

        <activity
            android:name=".my_orders.view.NavigationToMapActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <activity
            android:name=".orders.view.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".signup.SendOtp"
            android:exported="false" />
        <activity
            android:name=".signup.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".signup.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".signup.SkipScreen"
            android:exported="false" />
        <activity
            android:name=".signup.SplashScreen"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".map.MapsActivity" />
        <activity android:name=".e_sampletracking.DummyActivity" />
    </application>

</manifest>